<div id="<%= dom_id passport %>">
  <p>
    <strong>Prénom:</strong>
    <%= passport.prenom %>
  </p>

  <p>
    <strong>Nom et Post-Nom:</strong>
    <%= passport.nom %>
  </p>

  <p>
    <strong>Numero de passport:</strong>
    <%= passport.numero_passport %>
  </p>

  <p>
    <strong>Sexe:</strong>
    <%= passport.sexe %>
  </p>

  <p>
    <strong>Date de naissance:</strong>
    <%= passport.date_naissance %>
  </p>

  <p>
    <strong>Etat civil:</strong>
    <%= passport.etat_civil %>
  </p>

  <p>
    <strong>Profession:</strong>
    <%= passport.profession %>
  </p>

  <p>
    <strong>Nationalité:</strong>
    <%= passport.nationalite %>
  </p>

  <p>
    <strong>Prise en charge par:</strong>
    <%= passport.en_charge_de %>
  </p>

  <p>
    <strong>Type visa:</strong>
    <%= passport.type_visa %>
  </p>

  <p>
    <strong>Date expiration:</strong>
    <%= passport.date_expiration %>
  </p>

  <p>
    <strong>Date d'entrer:</strong>
    <%= passport.date_entree %>
  </p>

  <p>
    <strong>Frontière de:</strong>
    <%= passport.frontalier %>
  </p>

  <p>
    <strong>Possible Retour est:</strong>
    <%= passport.date_retour %>
  </p>

  <p>
    <strong>Adresse en RDC:</strong>
    <%= passport.adresse_rdc %>
  </p>

  <p>
    <strong>Date d'enregistrement:</strong>
    <%= passport.date_enregistrement %>
  </p>

</div>
