<div id="<%= dom_id passport %>">
  <p>
    <strong>Prenom:</strong>
    <%= passport.prenom %>
  </p>

  <p>
    <strong>Nom:</strong>
    <%= passport.nom %>
  </p>

  <p>
    <strong>Numero passport:</strong>
    <%= passport.numero_passport %>
  </p>

  <p>
    <strong>Sexe:</strong>
    <%= passport.sexe %>
  </p>

  <p>
    <strong>Date naissance:</strong>
    <%= passport.date_naissance %>
  </p>

  <p>
    <strong>Etat civil:</strong>
    <%= passport.etat_civil %>
  </p>

  <p>
    <strong>Profession:</strong>
    <%= passport.profession %>
  </p>

  <p>
    <strong>Nationalite:</strong>
    <%= passport.nationalite %>
  </p>

  <p>
    <strong>En charge de:</strong>
    <%= passport.en_charge_de %>
  </p>

  <p>
    <strong>Type visa:</strong>
    <%= passport.type_visa %>
  </p>

  <p>
    <strong>Date expiration:</strong>
    <%= passport.date_expiration %>
  </p>

  <p>
    <strong>Date entree:</strong>
    <%= passport.date_entree %>
  </p>

  <p>
    <strong>Frontalier:</strong>
    <%= passport.frontalier %>
  </p>

  <p>
    <strong>Date retour:</strong>
    <%= passport.date_retour %>
  </p>

  <p>
    <strong>Adresse rdc:</strong>
    <%= passport.adresse_rdc %>
  </p>

  <p>
    <strong>Date enregistrement:</strong>
    <%= passport.date_enregistrement %>
  </p>

</div>
